M11/M11.Android/obj
M11/M11.Android/bin
M11/M11.iOS/obj
M11/M11/bin
M11/M11/obj
.vs/M11/v15
M11.Common/obj
M11.Services/obj
M11.Services/bin
M11.Common/bin/Debug/netstandard2.0/M11.Common.deps.json
.vs/
packages
M11.Tests/obj/
M11.Tests/bin/
M11.Common/bin/
M11/M11.iOS/bin/
